les {{ pickWord("objects") }}s, les {{ pickWord("abstracts") }}s à côté des {{ pickWord("objects") }}s<br>
{{ pickWord("actions") }}nt les glycines<br>
elles {{ pickWord("actions") }}nt la {{ pickWord("abstracts") }} qui se {{ pickWord("actions") }} entre les {{ pickWord("objects") }}s<br>
se {{ pickWord("actions") }}, se {{ pickWord("actions") }} sans pourtant {{ pickWord("feelings") }}r<br>
le temps de {{ pickWord("actions") }}r un {{ pickWord("objects") }}<br>

<button onClick="window.location.reload();">Refresh</button>